@charset "utf-8";

a:link    {color: #2175ac; text-decoration:none}
a:visited {color: #2175ac; text-decoration:none}
a:hover   {color: #d54e4d; text-decoration:none}
a:active  {color: #d54e4d; text-decoration:none}
a:focus   {color: #d54e4d; text-decoration:none}

.shadow { text-shadow: 1px 1px 1px #666; filter: Shadow(Color=#666, Direction=135, Strength=2); }

.alt {
  color: #666; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-style: italic;
  font-weight: normal;
}
