@charset "utf-8";
/* Custom CSS Document */

/*body { font: 12px/1.5 Arial; background-color: #f9f9f9; }*/

a:link    {color: #2175ac; text-decoration:none}
a:visited {color: #2175ac; text-decoration:none}
a:hover   {color: #d54e4d; text-decoration:none}
a:active  {color: #d54e4d; text-decoration:none}
a:focus   {color: #d54e4d; text-decoration:none}

span.loading {
	background-image:url(/manage/static/image/loading.gif);
	background-repeat:no-repeat;
	text-indent: 30px;
	line-height: 24px;
}

.shadow { text-shadow: 1px 1px 1px #666; filter: Shadow(Color=#666666, Direction=135, Strength=2); }
