@charset "utf-8";
/* Custom CSS Document */

a:link    {color: #2175ac; text-decoration:none}
a:visited {color: #2175ac; text-decoration:none}
a:hover   {color: #d54e4d; text-decoration:none}
a:active  {color: #d54e4d; text-decoration:none}
a:focus   {color: #d54e4d; text-decoration:none}

#header { color:#999; font-size:16px }

#header a:link    {color: #ccc; text-decoration:none}
#header a:visited {color: #ccc; text-decoration:none}
#header a:hover   {color: #fff; text-decoration:none}
#header a:active  {color: #fff; text-decoration:none}
#header a:focus   {color: #fff; text-decoration:none}

#footer { color:#999; padding:10px 5px; font-size:16px; font-style:italic; background-color:#464646 }

#footer a:link    {color: #ccc; text-decoration:none}
#footer a:visited {color: #ccc; text-decoration:none}
#footer a:hover   {color: #fff; text-decoration:none}
#footer a:active  {color: #fff; text-decoration:none}
#footer a:focus   {color: #fff; text-decoration:none}

.box-shadow { background-color:#FFF; border:1px solid #666; box-shadow:3px 3px 3px #666; -moz-box-shadow:3px 3px 3px #666; -webkit-box-shadow:3px 3px 3px #666; }

.box-round { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }  
.box-round-top-left-corner { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; }

.app-menu-show { background-image:url(/manage/static/show.png); background-repeat:no-repeat; background-position:96% 50%; }
.app-menu-hide { background-image:url(/manage/static/hide.png); background-repeat:no-repeat; background-position:96% 50%; }

.app-menu { border:1px solid #E3E3E3; margin-bottom:16px; background-color:#FFF }
.app-menu-title { padding:3px 6px; background-color:#F1F1F1; font-weight:bold; border-bottom:1px solid #E3E3E3 }

a.app-menu-item { padding:3px 6px; display:block; width:92% }
a.app-menu-item:link { background-color:transparent }
a.app-menu-item:visited { background-color:transparent }
a.app-menu-item:hover { background-color:#EAF2FA }
a.app-menu-item:active { background-color:#EAF2FA }
a.app-menu-item:focus { background-color:#EAF2FA }

.app-menu-item-selected { font-weight:bold }
a.app-menu-item-selected:link { color:#d54e4d; }
a.app-menu-item-selected:visited { color:#d54e4d; }

.panel { border:1px solid #E3E3E3; background-color:#FFF; margin-bottom:16px; }
.panel-title { padding:3px 6px; margin:0px; background-color:#F1F1F1; font-weight:bold; border-bottom:1px solid #E3E3E3 }
.panel-content { padding:3px 6px; margin:0px; background-color:#FFF }

div.tr { display:table-row; margin:0px; padding:0px; }
div.tr-odd { display:table-row; margin:0px; padding:0px; background-color:#F9F9F9 }
div.td { display:table-cell; padding:3px; }

.form-field { padding:3px 6px; margin:12px 0px; width:95% }
.form-field-title { font-size:1.1em }
.form-field-input { width: 95% }

.widget-input { width:90% }
.widget-select { width:90% }

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 1px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

.info { font-size:1.1em;font-weight:bold;background-color:#f}
