<!-- begin manage_widget_list.html -->
<script type="text/javascript">
var g_app = '${app}';
var g_command = '${command}';
var g_edit_mode = false;
//#raw
$(function() {
  $('.sidebar-title').hover(function(){
    if (g_edit_mode)
      $(this).removeClass('hand');
    else
      $(this).addClass('hand');
  },function(){
    $(this).removeClass('hand');
  });

  $('.widget-title').hover(function(){
    if (g_edit_mode)
      $(this).removeClass('hand');
    else
      $(this).addClass('hand');
  },function(){
    $(this).removeClass('hand');
  });

  $('.sidebar-title').click(function(){
    if (g_edit_mode)
      return;
    $('.sidebar-content').hide();
    $('#' + $(this).parent().attr('id') + ' .sidebar-content').show();
  });

  $('.widget-title').click(function(){
    if (g_edit_mode)
      return;
    $('.widget-content').hide();
    $($(this).parent().children().get(1)).show();
  });

  $('.btn-add-widget').click(function(){
    var index=$(this).attr('index');
    var widget_name = $('#select_widget_' + index).val();
    if (widget_name=='') {
      alert('Please select a widget to add.');
      return;
    }
    if (confirm('Add widget \"' + $('#select_widget_'+index+' option:selected').attr('text') + '\"?')) {
      location.assign('/manage/?app='+g_app+'&command='+g_command+'&btn=add&sidebar='+index+'&widget_name='+widget_name);
    }
  });
});
//#end raw
</script>
<div class="panel box-round">
  <div class="panel-title"><div>All Sidebars</div></div>
  <div class="panel-content">
    <div class="tr">
      <div class="span-6"><div><img src="/theme/${theme.id}/static/sidebars.png" width="200" height="120" style="border:solid 1px #ccc" /></div></div>
      <div class="span-14 last">
        <div>Your current theme is <span style="font-weight:bold">${theme.title}</span>. <a href="?app=theme&command=edit_theme">Change the theme</a></div>
        <div>You can define at most 9 sidebars below, but your current theme only displays ${theme.sidebars} sidebar(s), so others will not be visible.</div>
      </div>
    </div>

    <!-- start sidebar -->
    <div style="width:770px;margin:0px 10px 10px 10px">
      <div id="sidebar0" class="panel sidebar" style="width:770px">
        <div class="panel-title sidebar-title" style="width:770px"><div>Sidebar 1</div></div>
        <div class="panel-content sidebar-content" style="width:770px">
          <div class="tr" style="width:770px">

            <!-- start widget -->
            <div style="width:736px;margin:10px">
              <div class="panel widget" style="width:736px">
                <div class="panel-title widget-title" style="width:736px"><div>G AdSense</div></div>
                <div class="panel-content widget-content" style="width:736px;display:none">
                  <div class="form-field">
                    <div class="form-field-title">Pub ID (Your AdSense pub id like <em>pub-123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="pub_id" value="" /></div>
                    <div class="form-field-title">Slot (Your Ad slot like <em>123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="slot" value="" /></div>
                    <div class="form-field-title">Size (Your Ad size):</div>
                    <div class="form-field-input">
                      <select name="size">
                        <optgroup label="Recommended">
                          <option value="300x250">300 x 250 Medium Rectangle</option>
                          <option value="336x280">336 x 280 Large Rectangle</option>
                          <option value="728x90">728 x 90 Leaderboard</option>
                          <option value="160x600">160 x 600 Wide Skyscraper</option>
                        </optgroup>
                        <optgroup label="Other - Horizontal">
                          <option value="468x60">468 x 60 Banner</option>
                          <option value="234x60">234 x 60 Half Banner</option>
                        </optgroup>
                        <optgroup label="Other - Vertical">
                          <option value="120x600">120 x 600 Skyscraper</option>
                          <option value="120x240">120 x 240 Vertical Banner</option>
                        </optgroup>
                        <optgroup label="Other - Square">
                          <option value="250x250">250 x 250 Square</option>
                          <option value="200x200">200 x 200 Small Square</option>
                          <option value="180x150">180 x 150 Small Rectangle</option>
                          <option value="125x125">125 x 125 Button</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-field-input"><input type="button" name="save" value="Save" /><input type="button" name="cancel" value="Cancel" /></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget -->

            <!-- start widget -->
            <div style="width:736px;margin:10px">
              <div class="panel widget" style="width:736px">
                <div class="panel-title widget-title" style="width:736px"><div>GOOGLE Ad.</div></div>
                <div class="panel-content widget-content" style="width:736px;display:none">
                  <div class="form-field">
                    <div class="form-field-title">Pub ID (Your AdSense pub id like <em>pub-123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="pub_id" value="" /></div>
                    <div class="form-field-title">Slot (Your Ad slot like <em>123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="slot" value="" /></div>
                    <div class="form-field-title">Size (Your Ad size):</div>
                    <div class="form-field-input">
                      <select name="size">
                        <optgroup label="Recommended">
                          <option value="300x250">300 x 250 Medium Rectangle</option>
                          <option value="336x280">336 x 280 Large Rectangle</option>
                          <option value="728x90">728 x 90 Leaderboard</option>
                          <option value="160x600">160 x 600 Wide Skyscraper</option>
                        </optgroup>
                        <optgroup label="Other - Horizontal">
                          <option value="468x60">468 x 60 Banner</option>
                          <option value="234x60">234 x 60 Half Banner</option>
                        </optgroup>
                        <optgroup label="Other - Vertical">
                          <option value="120x600">120 x 600 Skyscraper</option>
                          <option value="120x240">120 x 240 Vertical Banner</option>
                        </optgroup>
                        <optgroup label="Other - Square">
                          <option value="250x250">250 x 250 Square</option>
                          <option value="200x200">200 x 200 Small Square</option>
                          <option value="180x150">180 x 150 Small Rectangle</option>
                          <option value="125x125">125 x 125 Button</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-field-input"><input type="button" name="save" value="Save" /><input type="button" name="cancel" value="Cancel" /></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget -->

            <div style="width:736px;margin:10px 20px;">
              <select id="select_widget_0" name="select_widget">
              #for $w in $widgets
                <option value="${w.id}">${w.title}</option>
              #end for
              </select>
              <button name="add_widget" index="0" type="button" class="btn-add-widget">Add Widget</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end sidebar -->

    <!-- start sidebar -->
    <div style="width:770px;margin:0px 10px 10px 10px">
      <div id="sidebar1" class="panel sidebar" style="width:770px">
        <div class="panel-title sidebar-title" style="width:770px"><div>Sidebar 2</div></div>
        <div class="panel-content sidebar-content" style="width:770px;display:none">
          <div class="tr" style="width:770px">
            <!-- start widget -->
            <div style="width:736px;margin:10px">
              <div class="panel" style="width:736px">
                <div class="panel-title" style="width:736px"><div>Google AdSense</div></div>
                <div class="panel-content" style="width:736px;display:none">
                  <div class="form-field">
                    <div class="form-field-title">Pub ID (Your AdSense pub id like <em>pub-123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="pub_id" value="" /></div>
                    <div class="form-field-title">Slot (Your Ad slot like <em>123456789</em>):</div>
                    <div class="form-field-input"><input type="text" name="slot" value="" /></div>
                    <div class="form-field-title">Size (Your Ad size):</div>
                    <div class="form-field-input">
                      <select name="size">
                        <optgroup label="Recommended">
                          <option value="300x250">300 x 250 Medium Rectangle</option>
                          <option value="336x280">336 x 280 Large Rectangle</option>
                          <option value="728x90">728 x 90 Leaderboard</option>
                          <option value="160x600">160 x 600 Wide Skyscraper</option>
                        </optgroup>
                        <optgroup label="Other - Horizontal">
                          <option value="468x60">468 x 60 Banner</option>
                          <option value="234x60">234 x 60 Half Banner</option>
                        </optgroup>
                        <optgroup label="Other - Vertical">
                          <option value="120x600">120 x 600 Skyscraper</option>
                          <option value="120x240">120 x 240 Vertical Banner</option>
                        </optgroup>
                        <optgroup label="Other - Square">
                          <option value="250x250">250 x 250 Square</option>
                          <option value="200x200">200 x 200 Small Square</option>
                          <option value="180x150">180 x 150 Small Rectangle</option>
                          <option value="125x125">125 x 125 Button</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-field-input"><input type="button" name="save" value="Save" /><input type="button" name="cancel" value="Cancel" /></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget -->
            <!-- start widget -->
            <div style="width:736px;margin:10px">
              <div class="panel" style="width:736px">
                <div class="panel-title" style="width:736px"><div>Google AdSense [Move Up | Move Down]</div></div>
                <div class="panel-content" style="width:736px;display:none">
                </div>
              </div>
            </div>
            <!-- end widget -->
            <!-- start widget -->
            <div style="width:736px;margin:10px">
              <div class="panel" style="width:736px">
                <div class="panel-title" style="width:736px"><div>Subscribe</div></div>
                <div class="panel-content" style="width:736px;display:none">
                </div>
              </div>
            </div>
            <!-- end widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- end sidebar -->

    <!-- start sidebar -->
    <div style="width:770px;margin:0px 10px 10px 10px">
      <div class="panel" style="width:770px">
        <div class="panel-title" style="width:770px"><div>Sidebar 3</div></div>
        <div class="panel-content" style="width:770px;display:none">
          <div class="tr" style="width:770px">
            <!-- start widget -->
            <!-- end widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- end sidebar -->

    <!-- start sidebar -->
    <div style="width:770px;margin:0px 10px 10px 10px">
      <div class="panel" style="width:770px">
        <div class="panel-title" style="width:770px"><div>Sidebar 4</div></div>
        <div class="panel-content" style="width:770px;display:none">
          <div class="tr" style="width:770px">
            <!-- start widget -->
            <!-- end widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- end sidebar -->

  	<div class="tr top-line">
      <div class="span-19 last">
        <div>Visit ExpressMe official web site to <a href="http://www.expressme.org/blog/c/widgets" target="_blank">get more widgets</a>.</div>
      </div>
  	</div>
  </div>
</div>
<!-- end manage_widget_list.html -->
