@charset "utf-8";
/* app css definition */

#app-wiki-header {border-bottom:solid 1px #AAAAAA}
span.app-wiki-title {padding:0px; margin:6px 0px; font-size:1.5em; font-weight:bold}
span.app-wiki-edit {padding:0px; margin:6px 0px; float:right}
#app-wiki-content {padding:0px; margin:6px 0px;}

div.wiki-toolbar {margin-bottom:0px;padding-bottom:0px}
div.wiki-toolbar-btn {cursor:pointer;display:block;float:left;width:24px;height:24px;background-position:center;background-repeat:no-repeat;border-left:solid 1px #ccc;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
div.wiki-toolbar-seperator {display:block;float:left;width:8px;height:24px;border:solid 1px transparent;border-left:solid 1px #ccc;}

div.wiki-toolbar-btn:hover {background-color:#DEDEDE}

a.wiki-link-edit:link {color:red}
a.wiki-link-edit:visited {color:red}

a.wiki-link-external {background-clip:border-box; background:url(/wiki/static/external.png) no-repeat 100% 50%; background-origin:padding-box; display:inline; padding-right:13px; width:0px}

div.wiki-toc {background-color:#F9F9F9; border:solid 1px #AAAAAA; width:50%; padding:3px; margin:6px 0px}
div.wiki-toc-header {font-size:1.2em; font-weight:bold; padding:6px;}
div.wiki-toc-content {padding:3px;}
div.wiki-toc-content ol {margin:0px;padding-left:20px}

h1.wiki-heading {font-size:2em; font-weight:bold; padding:0px; margin:6px 0px}
h2.wiki-heading {font-size:1.6em; font-weight:bold; padding:0px; margin:6px 0px}
h3.wiki-heading {font-size:1.4em; font-weight:bold; padding:0px; margin:6px 0px}
h4.wiki-heading {font-size:1.2em; font-weight:bold; padding:0px; margin:6px 0px}
h5.wiki-heading {font-size:1.1em; font-weight:bold; padding:0px; margin:6px 0px}
h6.wiki-heading {font-size:1em; font-weight:bold; padding:0px; margin:6px 0px}
