<!-- begin manage_edit_user.html -->
<script type="text/javascript">
jQuery(function() {
    jQuery('\#filter').click(function() {
        location.assign('/manage/?app=${app}&command=${command}&role=' + jQuery('\#role').val())
    });
    jQuery('\#role').val('${role}');
});
//#raw
$(function() {
    $('#select_all').change(function() {
        if ($('#select_all').is(':checked')) {
            $('.select-user').attr('checked', 'checked');
            $('.tr-hover').addClass('tr-selected');
        }
        else {
            $('.select-user').removeAttr('checked');
            $('.tr-hover').removeClass('tr-selected');
        }
    });
    $('.select-user').click(function() {
        if ($(this).is(':checked')) {
            $(this).parent().parent().addClass('tr-selected');
        }
        else {
            $(this).parent().parent().removeClass('tr-selected');
        }
        if ($('input.select-user:checked').length==$('input.select-user').length) {
            $('#select_all').attr('checked', 'checked');
        }
        else {
            $('#select_all').removeAttr('checked');
        }
	});
});
//#end raw
</script>
<div class="span-20 panel box-round">
  <div class="span-20 panel-title"><div>Registered Users</div></div>
  <div class="span-20 panel-content">
    <div class="span-20 th bottom-line">
      <div class="span-1"><input type="checkbox" id="select_all" name="select_all" /></div>
      <div class="span-6"><div>Email</div></div>
      <div class="span-4"><div>Nice Name</div></div>
      <div class="span-3"><div>Role</div></div>
      <div class="span-2"><div>Status</div></div>
      <div class="span-4 last"><div>Registered</div></div>
    </div>
  #if not $users
    <div class="span-20 tr"><div class="span-20 last"><div style="padding: 16px; text-align:center; font-style:italic;">No user found that match the filter.</div></div></div>
  #end if
  #for $user in $users
    <div class="span-20 tr tr-hover">
      <div class="span-1"><input type="checkbox" name="select_user" class="select-user" value="${user.id}" /></div>
      <div class="span-6">
      	<div style="font-size:1.1em;font-weight:bold"><a href="?app=${app}&command=${command}&id=${user.id}">${user.email}</a></div>
        <div>Edit | Delete</div></div>
      <div class="span-4"><div>${user.nicename}</div></div>
      <div class="span-3"><div>${user.get_role_name()}</div></div>
      <div class="span-2"><div>Status</div></div>
      <div class="span-4 last"><div>$utils.format_datetime($user.creation_date)</div></div>
    </div>
  #end for
  	<div class="span-20 tr top-line">
      <div class="span-15">
        <div>
          <select name="role" id="role">
            <option value="">All</option>
            <option value="0">Administrator</option>
            <option value="10">Editor</option>
            <option value="20">Author</option>
            <option value="30">Contributor</option>
            <option value="40">Subscriber</option>
          </select>
          <button type="button" name="filter" id="filter">Filter</button>
          <button type="button" name="lock" id="lock">Lock</button>
        </div>
      </div>
      <div class="span-4" style="text-align:right">
        <div>
          Page ${index}
          #if $next
            | <a href="/manage/?app=${app}&command=${command}&index=${index+1}&role=${role}&offset=${next}">Next Page »</a>
          #end if
        </div>
      </div>
      <div class="span-1 last"></div>
  	</div>
  </div>
</div>
<!-- end manage_edit_user.html -->
